/* Подключение шрифтов */

@font-face {
  font-family: 'Open Sans';
  src: url(./fonts/OpenSans.ttf) format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
 }

@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
 }

@font-face {
    font-family: 'Segoe UI';
    src: url(./fonts/SegoeUI.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
 }


 /* Базовый сброс */

*, *::before, *::after {
  box-sizing: border-box; /* Удобный расчет размеров */
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased; /* Сглаживание шрифтов */
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%; /* Изображения не выходят за контейнер */
}

input, button, textarea, select {
  font: inherit; /* Наследование шрифтов от body */
}

ul, ol {
  list-style: none; /* Убираем маркеры списков */
}

a {
  text-decoration: none; /* Убираем подчеркивание ссылок */
  color: inherit;
}


/* Утилитарные переменные */

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #6C6E7B;
  --color-light-grey: #ECF2F5;
  --color-brand: #841844;
  --color-brand-border: #9B407A;
  --color-purple: #2C145E;

  --font-family-base: 'Open Sans', sans-serif;
  --font-family-alternative: 'Segoe UI', sans-serif;

  --base-page-inline-indent: 10.42vw;

  --font-size-header: 1.75rem;
  --font-size-footer: 1.25rem;
  --font-size-h1: 4rem;
  --font-size-h2: 2rem;
  --font-size-content: 1.25rem;
  --font-size-content-xl: 2rem;
  --font-size-date: 1rem;
  --font-size-path: 1rem;
  --font-size-button: 1rem;
}


/* Общие стили */

html {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-base);
    color: var(--color-black);
    font-weight: 400;
}

.text-color__grey {
    color: var(--color-grey)
}

.date {
    display: inline-flex;
    align-items: center;
    height: 34px;
    width: fit-content;
    padding-inline: 18px;
    padding-block: 6px;
    font-size: var(--font-size-date);
    color: var(--color-grey);
    background-color: var(--color-light-grey);
    border-radius: 20px;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding-inline: 40px;
    gap: 10px;
    height: 54px;
    width: fit-content;
    border: 2px solid var(--color-brand);
    border-radius: 30px;
    color: var(--color-brand);
    text-decoration: none;
    text-transform: uppercase;
    font-size: var(--font-size-button);
    font-weight: 600;
    background-color: var(--color-white);
    transition: 0.3s;
}

.arrow__before,
.arrow__next {
    display: inline-flex;
    width: 24px;
    height: 22px;
}

.arrow__before {
    background: url('./images/arrow-right-for-pagination.svg') center/contain no-repeat;
    /* использовал scale(-1), чтобы развернуть имеющуюся стрелку и не брать картинку вне макета */
    transform: scale(-1);
}

.arrow__next {
    background: url('./images/arrow-right-for-pagination.svg') center/contain no-repeat;
}

/* header */

.header {
    display: flex;
    padding-inline: var(--base-page-inline-indent);
    padding-block: 40px;
    column-gap: 25px;
    border-bottom: 1px solid var(--color-black);
}

.header__title {
    font-size: var(--font-size-header);
    font-family: var(--font-family-alternative);
    font-weight: 400;
    color: var(--color-purple);
    text-transform: uppercase;
    letter-spacing: 0.12em;
    line-height: 132%;
}

/* main page стили */

main {
    display: flex;
    flex-direction: column;
}

/* last_news */

.last-news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 30px;
    padding-inline: var(--base-page-inline-indent);
    height: 645px;
    width: 100%;
    background: var(--last-news-background) center/100% no-repeat;
    color: var(--color-white);
}

.last-news__title {
    font-size: var(--font-size-h1);
    line-height: 100%;
}

.last-news__text {
    font-size: var(--font-size-content-xl);
}

/* news_list */

.news__title {
    margin-inline: var(--base-page-inline-indent);
    padding-block: 55px;
    font-size: var(--font-size-h1);
}

.news__list {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    row-gap: 80px;
    flex-wrap: wrap;
    margin-inline: var(--base-page-inline-indent);
}

.news-card {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    height: auto;
    width: 48%;
}

.news-card__title {
    font-size: var(--font-size-h2);
    font-weight: 600;
    line-height: 140%;
}

.news-card__text {
    font-size: var(--font-size-content);
    line-height: 160%;
}

.news-card__button::after {
    content: '';
    width: 25px;
    height: 25px;
    background: url(./images/arrow-right-brand.svg) center/contain no-repeat;
    transition: 0.3s;   
}

.news-card__button:hover {
    color: var(--color-white);
    background-color: var(--color-brand);
}

.news-card__button:hover::after {
    background: url(./images/arrow-right-white.svg) center/contain no-repeat;
}

/* pagination */

.pagination__list {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: var(--base-page-inline-indent);
    margin-block: 83px;
    column-gap: 16px;
}

.pagination__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    font-size: var(--font-size-button);
    font-weight: 600;
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 50px;
    transition: 0.3s;
}

.pagination__link.pagination__link--active {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.pagination__link:hover {
    background-color: var(--color-brand);
    color: var(--color-white);
}

.pagination__control__before,
.pagination__control__next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 55px;
    color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 50px;
}


/* footer стили */

.footer {
    margin-inline: var(--base-page-inline-indent);
    padding-block: 80px;
    border-top: 1px solid var(--color-black);
    font-size: var(--font-size-footer);
}

/* work news */

.work-news {
    padding-inline: var(--base-page-inline-indent);
}

.work-news__path {
    font-size: var(--font-size-path);
    margin-top: 72px;
}

.work-news__title {
    margin-top: 22px;
    font-size: var(--font-size-h1);
    line-height: 140%;
    font-weight: 600;
}

.work-news__container {
    display: flex;
    margin-top: 63px;
    margin-bottom: 135px;
}

.work-news__info {
    display: flex;
    flex-direction: column;
    width: 50%;
    row-gap: 40px;
}

.work-news__announce {
    display: inline-block;
    font-size: var(--font-size-h2);
    font-weight: 600;
    color: var(--color-brand);
    line-height: 140%;
}

.work-news__content {
    display: inline-flex;
    flex-direction: column;
    row-gap: 22px;
    font-size: var(--font-size-content);
    line-height: 160%;
}

.work-news__button {
    gap: 5px;
}

.work-news__button::before {
  content: '';
  width: 25px;
  height: 25px;
  background: url('./images/arrow-left-brand.svg') center/contain no-repeat;
}

.work-news__media {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.work-news__image {
  width: 90%;
  aspect-ratio: 1;
}


/* медиа запросы */

@media (max-width: 1440px) {

    :root {
        --font-size-h1: 3rem;
    }

    .news-card {
        width: 100%;
    }

    .work-news__path {
        margin-top: 36px;
    }

    .work-news__container {
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    .work-news__info {
        order: 2;
        width: 100%;
        margin-top: 30px;
        row-gap: 15px;
    }

    .work-news__media {
        order: 1;
        width: 100%;
    }

    .work-news__button {
        margin-top: 30px;
    }
}

@media (max-width: 1024px) {
    .footer {
        margin-inline: 0;
        padding-inline: var(--base-page-inline-indent);
        padding-block: 40px;
    }
}

@media (max-width: 768px) {
    .last-news {
        height: 420px;
    }

    .last-news__title {
        font-size: 48px;
        line-height: 100%;
    }

    .last-news__text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {

    .arrow__before {
        width: 18px;
        height: 17px;
    }

    .arrow__next {
        width: 18px;
        height: 17px;
    }

    .header {
        padding-block: 15px;
        column-gap: 10px;
    }

    .header__logo {
        height: 48px;
    }

    .header__title {
        font-size: 18px;
    }

    .last-news {
        height: 210px;
    }

    .last-news__title {
        font-size: 24px;
        line-height: 100%;
    }

    .last-news__text {
        font-size: 16px;
        line-height: 120%;
    }

    .news__title {
        font-size: 48px;
        padding-block: 30px;
    }

    .news__list {
        row-gap: 30px;
    }

    .news-card {
        row-gap: 10px;
    }

    .date {
        font-size: 12px;
        padding-inline: 9px;
        padding-block: 1px;
    }

    .news-card__title {
        font-size: 24px;
    }

    .news-card__text {
        font-size: 14px;
        line-height: 140%;
    }

    .news-card__button {
        height: 32px;
        gap: 5px;
        margin-top: 15px;
        padding-inline: 15px;
        font-size: 12px;
    }

    .news-card__button::after {
        content: '';
        width: 18px;
        height: 18px;
        background: url(./images/arrow-right-brand.svg) center/contain no-repeat;   
    }

    .pagination__list {
        margin-block: 30px;
        column-gap: 8px;
    }

    .pagination__link {
        width: 35px;
        height: 35px;
        font-size: 12px;
    }

    .pagination__control__before {
        width: 65px;
        height: 35px;
    }

    .pagination__control__next {
        width: 65px;
        height: 35px;
    }

    .footer {
        padding-block: 15px;
        font-size: 12px;
    }

    .work-news__container {
        margin-top: 20px;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .work-news__info {
        width: 100%;
        margin-top: 20px;
        row-gap: 15px;
    }

    .work-news__media {
        width: 100%;
    }

    .work-news__image {
        width: 100%;
    }

    .work-news__path {
        margin-top: 20px;
        font-size: 12px;
    }

    .work-news__title {
        display: none;
    }

    .work-news__announce {
        font-size: 18px;
    }

    .work-news__content {
        row-gap: 10px;
        font-size: 14px;
        line-height: 140%;
    }

    .work-news__button {
        height: 35px;
        margin-top: 15px;
        padding-inline: 10px;
        font-size: 12px;
    }

    .work-news__button::before {
        width: 18px;
        height: 18px;
    }
}